@using WebMVCAppSandbox.ViewModels;
@model FooterViewModel

<div style="margin:10px;background-color:silver;padding:10px;text-align:right;border:1px solid gray;">@Model.CompanyName &copy; @Model.Year</div>
