@using WebMVCAppSandbox.ViewModels;
@model  EmployeeListViewModel
@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    string Title = "Workshop 22.01.2016";
}

@section TitleSection {
    Workshop 22.01.2016
}

@section ContentBody {
    <p>
        @{
            Html.RenderAction("GetAddNewLink");
        }
    </p>
    <div class="row">
        <div class="col-md-2"><strong>Employee Name</strong></div>
        <div class="col-md-2"><strong>Salary</strong></div>
        <div class="col-md-12"></div>
    </div>
    @foreach (EmployeeViewModel emp in Model.Employees)
    { 
        <div class="row">
            <div class="col-md-2">@emp.EmployeeName</div>
            <div class="col-md-2"><span style="background-color:@emp.SalaryColor;">@emp.Salary</span></div>
            <div class="col-md-12"></div>
        </div>
    }
}